*{
  margin: 0;
  padding: 0;
}


.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  }
  
  .navbar-brand {
    margin-right: 30px;
    font-weight: bold;
  }

    
  .navbar-nav{
    display: block;
    width: 100%;
    text-align: center;
    list-style: none;
    padding: 0;
    margin-top: 1em;
  }
  
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
    margin-bottom: 1em;
  }
  
  li:hover{
    transform: scale(1.1);
  }
  
  .nav-link:hover {
    color: #f5c518;
  }
  
  
  .branding-name{
    color: white;
    text-shadow: 1px 2px 3px gray;
    font-size: 1.3rem;
    text-decoration: none;
    letter-spacing: 0.1cm;
  }
  
  .j{
    color: Red;
    font-size: 2rem;
    text-shadow: none;
  }
  
  .k{
    color: green;
    font-size: 2rem;
    text-shadow: none;
  }


  nav i{
    font-size: 1.8rem;
  }
  nav i:hover, nav i:focus{
    color: #f5c518;
    transform: scale(1.2);
  }

  .hidden {
    display: none;
  }

  .box {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .title-heading{
    text-shadow: 1px 1px #ccc, 2px 2px #ccc, 3px 3px #ccc, 4px 4px #ccc, 5px 5px #ccc, 6px 6px #ccc, 7px 7px #ccc, 8px 8px #ccc, 9px 9px #ccc, 10px 10px #ccc;
  }

  .work-link{
    color: #2d9cdb;
  }

  .work-link:hover{
    color: gray;
  }


 .box p {
    color: #777;
    font-size: 20px;
    margin-top: 0;
  }
  

  .about-section {
    padding: 3rem 0;
    text-align: center;
    background-color: #333;
    background-image: linear-gradient(to bottom right, #333, #111);
    color: #fff;
  }
  
  .section-heading {
    font-size: 2rem;
    text-shadow: 1px 1px 2px gainsboro;
    font-weight: bold;
    margin-bottom: 2rem;
    font-family: 'Roboto Slab', serif;
  }
  
  .profile-picture {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
  }
  
  .section-description {
    font-size: 1.2rem;
    padding: 1em;
    margin-bottom: 2rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .social-media {
    font-size: 2rem;
  }
  
  .social-media a {
    color: #fff;
    margin-right: 1.5rem;
    transition: color 0.3s ease;
  }
  
  .social-media a:hover {
    color: blue;
  }


  .skills-container{
    text-align: center;
  }
  
  .skills-container h1{
    color: #4CAF50;
    display: inline-block;
    margin-top: 1em;
    border-bottom: 6px solid gray;
  }
  .skills-chart {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .chart-title {
    font-size: 32px;
    margin-top: 40px;
    color: #2d9cdb;
  }
  
  .chart-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
  }
  
  .chart-col {
    flex-basis: 200px;
    margin: 20px;
  }
  
  .skill-name {
    font-size: 24px;
  }
  
  .skill-level {
    width: 100%;
    height: 20px;
    background-color: #f2f2f2;
    margin-top: 10px;
    position: relative;
  }
  
  .skill-level::before {
    content: "";
    width: 0%;
    height: 100%;
    background-color: #4CAF50;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 1s;
  }
  
  .skill-level:hover::before {
    width: 100%;
  }
  

  .main {
    width: 90%;
    margin: 0 auto;
  }

  .main h1{
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
    text-shadow: 2.5px 1.5px 1.8px gainsboro;
  }


  .carousel{
    position: relative;
    margin: 0 auto;
}

.carousel-item{
    display: none;
}


.carousel-item img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.carousel-actions{
    display: flex;
    width: 100%;
    min-width: 600px;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.carousel-item-hidden{
    display: none;
}
.carousel-item-visible{
    display: block;
    animation: fadeVisibility 1s;
}

@keyframes fadeVisibility {
    0%{
        opacity: 0;
    }
    50%{
      opacity: 0.4;
    }
    100%{
        opacity: 1;
    }
}


.contact-form {
  width: 80%;
  margin: 2em auto;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-form h2 {
  font-weight: bold;
  text-align: center;
  margin: 0.5em 0;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.contact-form .form-group {
  flex: 1;
  margin: 0.3em;
}

.contact-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form select {
  width: 80%;
  padding: 4px;
  border-radius: 6px;
  border: 0;
  margin-bottom: 0.4em;
}

.contact-form button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.contact-form button[type="submit"]:hover {
  background-color: #3e8e41;
}



footer{
  background: gray;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}



/* styles for screens with a width of 1200px or less */
@media screen and (min-width: 1200px) {
  /* your styles here */
  .navbar {
    flex-direction: row;
    align-items: center;
  }

  .navbar-nav{
    justify-content: space-around;
    width: 30%;

  }

  .hidden{
    display: flex;
  }

  #hamsburger-icon{
    display: none;
  }
  
  .navbar-brand {
    font-size: 3rem;
  }
  
  .nav-link {
    margin-bottom: 1em;
    font-size: 1.3rem;
  }
  
  .box {
    margin: 20px auto;
    padding: 5em;
    width: 40%;
    box-shadow: 3px  4px 5px 1px gray;

  }
  
  #about{
    width: 80%;
    margin: 20px auto;
    box-shadow: 4px 3px 2px gray;
  }
  .social-media {
    font-size: 1.8rem;
  }
  
  .skill-name {
    font-size: 24px;
  }
  
  .chart-title {
    font-size: 32px;
  }

  #contact{
    font-size: 1.2rem;
  }

  .contact-form input,
  .contact-form select {
    padding: 0.7em;
  }

  .contact-form button{
    font-size: 1.2rem;
  }
}



.projects-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.projects-container h1{
  text-shadow: 1px 1px 1px gray;
  margin-bottom: 1em;
}


.project{
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  border-bottom: 6px solid grey;
  padding: 1em 0;
}
.project h2{
  width: 40%;
  color: #3e8e41;
  text-shadow: 1px 1px 1px peru;
  font-size: 2rem;
  margin-bottom: 1em;
  border-bottom: 2px solid gray;
}

.projects-container img{
  width: 80%;
  margin: 1em auto;
}

fieldset{
  width: 60%;
  margin: 1em auto;
  padding: 1em;
  border: 2px solid;
}

fieldset legend{
  font-size: 1.5rem;
  font-weight: bold;

}

fieldset p{
  letter-spacing: 0.4px;
  line-height: 20px;
}



.project a{
  margin: 0 auto;
  font-weight: bold;
  font-size: 20px;
}

.project a:hover{
  transform: scale(1.2);
  color:#777;
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

#popup p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}
